/*CSS Reset*/
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
    
}
h2,h3,h4,p{
    margin:0;
    
}
html{
    font-size:16px;
}

body{
    background-color:rgb(218, 223, 232);
}

.container{
    margin:0 auto;
    padding:50px;
}

#card{
    margin:0 auto;
    width:100%;
    background-color:#fff;
    border-radius:10px;
    box-shadow: 2px 2px 10px #7f87a8;
    overflow:hidden;
    
}
#top-section{
    width:100%;
    height:45%;
    padding:25px;
}
#top-section h3{
    margin-bottom:10px;
    color:#4c5cdb;
}
#top-section h4{
    color:#80f6a5;
    margin-bottom:10px;
}
#top-section p{
    color:grey;
}
#bottom-section{
    width:100%;
    height:55%;
    

}
   
#card-box-left{
    width:100%;
    height:100%;
    /* display:inline-block;
    vertical-align: top; */
    background-color:#4c5cdb;
    color:white;
    padding:25px;
    
} 
#card-box-left h4{
    margin-bottom:10px;
}
#card-box-right{
    width:100%;
    height:100%;
    /* display:inline-block;
    vertical-align: top; */
    background-color:#6c79db;
    color:white;
    padding:25px;
} 
#card-box-right h4{
    margin-bottom:10px;
}
#price h4{
    font-size:1.4rem;
}
#price, #price-frequency{
    display:inline-block;
}
#price-frequency{
    position:relative;
    top:-5px;
    margin-left:5px;
    opacity:0.5;
}
#card-box-left p{
    margin-bottom:20px;
}
.myButton{
    padding:15px;
    width:100%;
    border:none;
    border-radius:5px;
    background-color:#80f6a5;
    color:white;
    cursor:pointer;
    transition:0.6s all;
}
.button-sign{
    background-color:transparent;
    color:white;
    border:2px solid orange;
}
.myButton:hover{
    transform:scale(1.1);
    border:0.5px solid white;
    
}  

/*Media query*/
@media(min-width:576px){
    #bottom-section{
        display:flex;    
    }
    #card{
        width:600px;
        height:400px;
    }
    #card-box-left, #card-box-right{
        flex:50%;
    }
}

